body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #d6c78f;
    color: white;
    padding: 0 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
  }
  
  .logo img {
    height: 60px;
    width: auto;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #8f9299;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d6c78f;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact p {
    margin: 0;
    font-size: 14px;
  }
  
  .social-media {
    display: flex;
    gap: 15px;
  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }
  
  .social-icon img:hover {
    transform: scale(1.1);
  }